.ui-kit.checkbox {
	width: 20px;
	height: 20px;
}

.ui-kit.checkbox > .checkbox-visual {
	width: 20px;
	height: 20px;

	border-radius: 50%;
	border: 4px solid rgb(84, 84, 185);
  
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-kit.checkbox > .checkbox-visual > .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;

	background-color: rgba(84, 84, 185, 0.75);

	transform: scale(0);
	transition: transform 0.1s ease-in-out;
}

.ui-kit.checkbox.checked > .checkbox-visual > .dot {
	transform: scale(1);
}

uikit-switch {
	width: 100%;
	height: 30px;
}

.ui-kit.select {
	height: 30px;
	position: relative;

	-webkit-user-select: none;
	cursor: default;
}

.ui-kit.select span {
	line-height: 30px;
	display: block;
	font-family: "Lato";
	color: white;

	transition: background-color 0.2s ease;
	background-color: rgb(84, 84, 185);

	position: relative;
	cursor: pointer;

	padding-left: 5px;
}

.ui-kit.select .placeholder {
	border-radius: 5px;
	border: 1px solid rgb(84, 84, 185);
	transition: border 0.2s ease;
}

.ui-kit.select .placeholder:after {
	content: "\f063";
	font-family: "FontAwesome";

	position: absolute;
	right: 5px;

	transition: transform 0.2s ease;
}

.ui-kit.select .options {
	position: absolute;
	overflow: hidden;

	width: 100%;
	visibility: hidden;
	opacity: 0;

	transition: visibility 0.2s ease, opacity 0.2s ease;
}

.ui-kit.select.expanded .options {
	visibility: visible;
	opacity: 1;
}

.ui-kit.select.expanded .options span:hover {
	background-color: rgb(100, 100, 185);
}

.ui-kit.select.expanded .placeholder {
	cursor: default;

	color: white;
	font-weight: bold;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 1px solid rgb(140, 140, 228);
}

.ui-kit.select.expanded .placeholder:after {
	transform: rotate(180deg);
}

.ui-kit.select ul {
	list-style: none;
}

.ui-kit.select li:last-of-type > span {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ui-kit.select.expanded .options span.selected:after {
	content: "\f00c";
	font-family: "FontAwesome";

	position: absolute;
	right: 5px;
	color: rgb(142, 142, 224);
}