<div class="lobby-config">
	<div class="header">
		<div class="back-button" ng-click="back()">
			<i class="fa fa-chevron-left"></i>
		</div>
		<span class="title">Configure Lobby</span>
	</div>

	<div class="contents">
		<div class="tabs">
			<div class="tab" ng-click="setActive(0)" ng-class="{ active: activeTabIndex === 0 }">
				<i class="fa fa-clipboard"></i>
				<span class="name">General</span>
			</div>
			<div class="tab" ng-click="setActive(1)" ng-class="{ active: activeTabIndex === 1 }">
				<i class="fa fa-crosshairs"></i>
				<span class="name">Champs</span>
			</div>
			<div class="tab" ng-click="setActive(2)" ng-class="{ active: activeTabIndex === 2 }">
				<i class="fa fa-tasks"></i>
				<span class="name">Values</span>
			</div>
		</div>

		<div class="config-content" ng-show="activeTabIndex === 0" compile="generalContent"></div>
		<div class="config-content" ng-show="activeTabIndex === 1" compile="championsContent"></div>
		<div class="config-content" ng-show="activeTabIndex === 2" compile="valuesContent"></div>
	</div>
</div>