<div class="login-component container center-align">
    <div>League Path</div>
    <input class="login-path-input input-text" v-model="path" type="text">
    <div>Nickname</div>
    <input class="login-username-input input-text" v-model="username" type="text">
    <div>Host</div>
    <input class="login-host-input input-text" v-model="host" type="text">
    <div>Port</div>
    <input class="login-port-input input-text" v-model="port" type="text">
    <div class="icon-selected" v-background-src="icon.iconURL"></div>
    <button class="btn-large" @click="openIconPicker">Choose icon</button>
    <button class="waves-effect waves-light btn-large" :class="{ disabled: !username }" @click="login">Login</button>
</div>