<div class="champion-select">
    <div class="champion-select-header center-align">
        <div class="state">Pick your champion</div>
        <div class="remaining-time">{{ remainingTime }}</div>
    </div>
    <div class="champion-select-lists row">
        <div class="left-team col s3">
            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(players[0].).skins[0].splashCutoutURL">
                {{ players[1].username }}
            </div>
            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(1).skins[0].splashCutoutURL">
                Annie bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(17).skins[0].splashCutoutURL">
                Teemo bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(53).skins[0].splashCutoutURL">
                Blitzcrank bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(43).skins[0].splashCutoutURL">
                Karma bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(81).skins[0].splashCutoutURL">
                Ezreal bot
            </div>

            <hr>
        </div>
        <div class="champion-list col s6 center-align">
            <div v-for="champion in staticService.champions" class="champion-box center-align">
                <div v-background-src="champion.portraitIconURL" class="champion-icon" @click="selectMyChampion(champion.id)">
                </div>
                <div class="champion-name" @click="selectMyChampion(champion.id)">
                    {{ champion.name }}
                </div>
            </div>
        </div>
        <div class="right-team col s3">
            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(103).skins[0].splashCutoutURL">
                Ahri bot
            </div>
            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(42).skins[0].splashCutoutURL">
                Corki bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(150).skins[0].splashCutoutURL">
                Gnar bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(107).skins[0].splashCutoutURL">
                Rengar bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(69).skins[0].splashCutoutURL">
                Cassiopeia bot
            </div>

            <hr>
            <div class="champion-team-block" v-background-src="staticService.championById(113).skins[0].splashCutoutURL">
                Sejuani bot
            </div>

            <hr>
        </div>
    </div>
    <div class="champion-select-footer center-align">
        <div class="champion-select-button">
            <div class="left-decoration"></div>
            <button class="btn" @click="lock()">Lock in</button>
            <div class="right-decoration"></div>
        </div>
        <div class="champion-select-settings">
            <div class="champion-select-rune-mastery">
                <select>
                    <option value="1">Rune 1</option>
                    <option value="2">Rune 2</option>
                    <option value="3">Rune 3</option>
                </select>
                <select>
                    <option value="1">Masteries 1</option>
                    <option value="2">Masteries 2</option>
                    <option value="3">Masteries 3</option>
                </select>
            </div>
            <div class="champion-select-summoners">
                <div class="champion-summoner-block" v-background-src="staticService.spellById(1).icon"></div>
                <div class="champion-summoner-block" v-background-src="staticService.spellById(2).icon"></div>
            </div>
        </div>
    </div>
</div>