<div class="select-summoner-spell">
    <div class="select-body">
        <div class="options">
            <div
                v-for="opt in options"
                @click="selected = opt"
                :class="{ selected: selected === opt, disabled: other === opt }"
                v-background-src="opt.icon"></div>
        </div>
        <div class="description">
            <span class="title">{{ selected.name }}</span>
            <hr>
            <span class="description">{{ selected.description }}</span>
            <div class="img" v-background-src="selected.image"></div>
        </div>
    </div>
    <div @click="finish(selected)" class="button">Select</div>
</div>