<div class="select-summoner-spell" ng-controller="selectSummonerSpellCtrl">
    <div class="select-body">
        <div class="options">
            <div
                ng-repeat="opt in options"
                ng-click="select(opt)"
                ng-class="{ selected: selected.name === opt.name, disabled: opt === other }"
                background-src="{{ opt.icon }}"></div>
        </div>
        <div class="description">
            <span class="title">{{ selected.name }}</span>
            <hr>
            <span class="description">{{ selected.description }}</span>
            <div class="img" background-src="{{ selected.image }}"></div>
        </div>
    </div>
    <div ng-click="finish()" class="button">Select</div>
</div>