<div class="messages">
    <div class="message-group">
        <span class="timestamp">21:21</span>
        <span class="sender">molenzwiebel</span>
        <div class="messages">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div>
    
    <div class="message-group">
        <span class="timestamp">21:21</span>
        <span class="sender">molenzwiebel</span>
        <div class="messages">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div>
    
    <div class="message-group">
        <span class="timestamp">21:21</span>
        <span class="sender">molenzwiebel</span>
        <div class="messages">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div>
    
    <div class="message-group">
        <span class="timestamp">21:21</span>
        <span class="sender">molenzwiebel</span>
        <div class="messages">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div>
    
    <div class="message-group">
        <span class="timestamp">21:21</span>
        <span class="sender">molenzwiebel</span>
        <div class="messages">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div>
</div>

<div class="input">
    <input class="send-message" placeholder="Your message...">
</div>