<div class="chat-message-group">
	<div class="header">
		<span class="name">molenzwiebel</span>
		<span class="time">2 seconds ago</span>
	</div>

	<ul>
		<li>Yeah</li>
		<li>Hello</li>
		<li>World!</li>
	</ul>
</div>

<div class="chat-message-group">
	<div class="header">
		<span class="name">molenzwiebel</span>
		<span class="time">2 seconds ago</span>
	</div>

	<ul>
		<li>Yeah</li>
		<li>Hello</li>
		<li>World!</li>
	</ul>
</div>

<div class="chat-message-group">
	<div class="header">
		<span class="name">molenzwiebel</span>
		<span class="time">2 seconds ago</span>
	</div>

	<ul>
		<li>Yeah</li>
		<li>Hello</li>
		<li>World!</li>
	</ul>
</div>

<div class="chat-message-group">
	<div class="header">
		<span class="name">molenzwiebel</span>
		<span class="time">2 seconds ago</span>
	</div>

	<ul>
		<li>Yeah</li>
		<li>Hello</li>
		<li>World!</li>
	</ul>
</div>

<div class="chat-message-group">
	<div class="header">
		<span class="name">molenzwiebel</span>
		<span class="time">2 seconds ago</span>
	</div>

	<ul>
		<li>Yeah</li>
		<li>Hello</li>
		<li>World!</li>
	</ul>
</div>