<div class="messages" id="chat-container">
    <div class="message-group" v-for="group in messages">
        <span class="timestamp">{{ group.timestamp | formatTime }}</span>
        <span class="sender">{{ group.sender }}</span>
        <div class="messages">
            <span v-for="message in group.messages" track-by="$index">{{ message }}</span>
        </div>
    </div>
</div>

<div class="input">
    <input v-model="message" class="send-message" placeholder="Your message..." @keyup.enter="sendChat">
</div>