<div class="lobby-playerList">
    <div class="row">
        <div class="team col s6" v-for="team in lobby.teams">
            <div class="team-name">{{ team.name }}</div>
            
            <div v-for="player in playersInTeam(team)" class="lobby-player-item">
                <div class="valign-wrapper">
                    <img :src="iconByUser(player)" alt="" class="icon">
                    <span class="valign lobby-player">{{ player.username }} {{ player.id }} {{ player.idServer }} {{ player.isHost }}</span>
                </div>
                <div class="divider"></div>
            </div>
            
            <button class="btn" @click="joinTeam(team)">
                Join
            </button>
        </div>
    </div>
</div>
