<div class="team" v-for="team in lobby.teams">
    <span class="team-name">{{ team.name }}</span>
    
    <div v-for="player in playersInTeam(team)"
        v-background-src="getOrNone(player.champion ? player.champion.skins[player.skinIndex].splashCutoutURL : undefined)"
        overlay-color="to left; transparent; black">
        <span>{{ player.name }}</span>
        <img :src="player.spellOne.icon">
        <img :src="player.spellTwo.icon">
    </div>
    
    <div class="join-button" @click="joinTeam(team)">
        <span>JOIN</span>
    </div>
</div>
<div class="start-button" @click="startGame()">
    <span>START</span>
</div>
