<div class="team">
    <span class="team-name">Order</span>
    <div background-src="{{ getChampBackground() }}" overlay-color="to left; transparent; black">
        <span>Player 1</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
    <div background-src="{{ getChampBackground(1) }}" overlay-color="to left; transparent; black">
        <span>Player 2</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
    <div background-src="{{ getChampBackground(2) }}" overlay-color="to left; transparent; black">
        <span>Player 3</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
</div>

<div class="team">
    <span class="team-name">Chaos</span>
    <div background-src="{{ getChampBackground(3) }}" overlay-color="to left; transparent; black">
        <span>Player 4</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
    <div background-src="{{ getChampBackground(4) }}" overlay-color="to left; transparent; black">
        <span>Player 5</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
    <div background-src="{{ getChampBackground(5) }}" overlay-color="to left; transparent; black">
        <span>Player 6</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerHeal.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/spell/SummonerFlash.png">
    </div>
</div>