<!-- Header with navigation and stuff. -->
<div class="header">
    <span class="title">Lobby</span>
    <span class="divider"></span>
    <span class="title">Configure</span>
</div>

<div class="select">
    <button ng-hide="shown" ng-click="shown = true">Show</button>
    <div class="champion-options" ng-init="shown = true" ng-show="shown">
        <div class="option" ng-click="setActive(champ)" ng-class="{ active: selectedChampion === champ }" background-src="http://l3cdn.riotgames.com/releases/live/projects/lol_air_client/releases/0.0.1.186/files/assets/images/champions/{{ champ.name }}_Splash_Tile_0.jpg"
            ng-repeat="champ in champions">
            <span>{{ champ.name }}</span>
        </div>
    </div>
</div>