<div class="select-champion">
    <div class="header">
        <div class="filters">
            <div class="top" @click="top = !top" :class="{ active: top }"></div>
            <div class="jungle" @click="jungle = !jungle" :class="{ active: jungle }"></div>
            <div class="mid" @click="mid = !mid" :class="{ active: mid }"></div>
            <div class="bot" @click="bot = !bot" :class="{ active: bot }"></div>
            <div class="support" @click="support = !support" :class="{ active: support }"></div>
        </div>
        <input class="search" v-model="searchTerm">
    </div>
    
    <div class="options">
        <div @click="currentChampion = champ"
            :class="{ option: true, active: currentChampion === champ }"
            v-background-src="champ.skins[0].splashCutoutURL"
            v-for="champ in options | filterBy searchTerm in 'name'">
            <span>{{ champ.name }}</span>
        </div>
    </div>
    
    <div class="footer">
        <!-- TODO: Change to src transition on image instead. -->
        <!--<fade-background background="{{ currentChampion.portraitIconURL || '' }}"></fade-background>-->
        <div class="button" @click="finish(currentChampion)">Select</div>
    </div>    
</div>