<div class="loading">
    <span class="title">Loading...</span>
    <div class="cubes">
        <div class="cube" style="animation-delay: 0.2s;"></div>
        <div class="cube" style="animation-delay: 0.3s;"></div>
        <div class="cube" style="animation-delay: 0.4s;"></div>
        <div class="cube" style="animation-delay: 0.1s;"></div>
        <div class="cube" style="animation-delay: 0.2s;"></div>
        <div class="cube" style="animation-delay: 0.3s;"></div>
        <div class="cube" style="animation-delay: 0.0s;"></div>
        <div class="cube" style="animation-delay: 0.1s;"></div>
        <div class="cube" style="animation-delay: 0.2s;"></div>
    </div>
</div>